li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

.logo {
  width: 124px;
  margin-top: 20px;
}
body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}
header {
  background-position: center;
  height: 600px;
  background-image: url(./MAIN\ HEADER.jpg);
  background-size: cover;
}
.header-left {
  float: left;
}
.header-right {
  float: right;

  transition: all 0.5s;
}
.header-right li {
  float: right;
  margin: 20px;
}
.top-wrapper {
  color: white;
}
.header-right li:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgb(255, 255, 255);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}
.top-wrapper {
  padding: 180px 0 100px 0;
  font-family: serif;
  background-size: cover;
  color: white;
  text-align: center;
}
.top-wrapper h1 {
  font-size: 50px;
  opacity: 0.6;
}

.top-wrapper p {
  opacity: 0.6;
}
.main-class {
  margin: 50px 150px;
  height: 1800px;
}
.kata h1 {
  font-size: 30px;
  color: rgb(6, 124, 170);
}
.kata p {
  font-size: 20px;
}
.foto-1 {
  display: flex;
  height: 300px;
}
._ {
  display: block;
  width: 70px;
  height: 6px;
  border-radius: 5px;
  background-color: yellow;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.kata {
  margin-left: 25px;
  margin-top: 50px;
  height: 300px;
}
.foto-2 {
  float: right;
  border-radius: 10px;
  height: 250px;
  width: 200px;
}
.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  margin-top: 20px;
}

.active {
  background-color: rgb(138, 8, 8);
}
.foto-3 {
  display: flex;
  width: 300px;
}
.border {
  border-radius: 25px;
  display: flex;
}
.contents {
  display: flex;
  flex-wrap: wrap;
}
.foto-ig {
  height: 250px;
  width: 220px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 50px;
  border-radius: 20px;
}
/* footer*/
footer {
  height: 250px;
  width: 100%;
  background-color: rgba(12, 60, 70, 0.9);
}
.logo-footer {
  height: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.footer-left {
  float: left;
  margin-top: 50px;
}
.icon li {
  float: left;
  font-size: 40px;
  margin-right: 30px;
  font-size: 20px;
}
.icon {
  color: white;
}
.footer-right {
  color: white;
  float: right;
  margin-right: 250px;
  margin-top: 50px;
  display: flex;
}
.sub {
  margin-bottom: 20px;
  color: orange;
}
.store {
  float: right;
}
